main-nav, site-masthead, about-me, my-stack,
portfolio-section, portfolio-modals,
learn-more-section, learn-more-modals,
contact-section, site-footer,
copyright-section, scroll-to-top {
  display: contents;
}

// Styling for page sections
.page-section {
  padding: 6rem 0;
  .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @include media-breakpoint-up(lg) {
    .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}
